 <% provide(:title, "Home") %>
 <% if logged_in? %>
  <% @user ||= current_user %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <div>
        <div class="col-md-6">
          <%= button_to "Words", words_path, method: "get", class: "btn btn-primary" %>
        </div>
        <div class="col-md-6">
          <%= button_to "Lesson", categories_path, method: "get", class: "btn btn-primary" %>
        </div>
      </div>
      <% if @activities.any? %>
        <hr><h3>Feeds</h3>
        <ol class="entries">
          <%= render @activities %>
        </ol>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Framgia E-learning</h1>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>