<% provide(:title, 'Edit word') %>
<h1>Add new word</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @word] do |f| %>
      <%= render 'shared/word_error_messages' %>
      <% if params[:category_id].blank? %>
        <%= f.select :category_id, Category.all.collect{|p| [p.title, p.id]}, include_blank: true %>
      <% end %>  
      <%= f.label :Word %>
      <%= f.text_field :japanese, class: 'form-control'%>
      <%= f.label :Answers %>
        <%= f.fields_for :answers do |builder| %>
          <%= render 'answer_fields', f: builder %>
        <% end %>
        <p>
          <%= link_to_add_fields "Add Answer", f, :answers %>
        </p>
      <%= f.submit "Edit word", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>