<% provide(:title, "Lesson: #{@category.title}") %>
<div>
  <% @questions.each_with_index do |question, i| %>
    <div id="question-<%= i %>" class="<%= "hidden" if i > 0 %>">
      <h3>Question <%= i+1 %></h3>
      <span class="col-md-8"><%= question.japanese %></span>
      <% question.answers.each do |answer| %>
        <%= button_tag  "#{answer.content}", 
                        type: "button", 
                        onclick: "nextQuestion(#{i}, #{answer.id}, #{@lesson.id})" %>
      <% end %>
    </div>
  <% end %>

  <div id="question-20" class="hidden">
    <%= form_for [@category, @lesson] do |f| %>
      <%= f.hidden_field :word_ids, value: "#{@questions.map(&:id).join(",")}" %>
      <%= f.hidden_field :answer_ids %>
      <%= f.submit "Show result", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>