<% provide(:title, "Edit category") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([:admin, @category]) do |f| %>
      <%= render 'shared/category_error_messages' %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :body %>
      <%= text_area :category, :body, cols: 20, rows: 10 %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Add new word", new_admin_category_word_path(@category) %>
  </div>
</div>